<section class="card">
  <div class="card-body">
    <h2>Acerca de esta app</h2>
    <p>
      Te da una experiencia de bloc de notas de edición rápida y sencilla cuando se escriben notas, nota, correo electrónico, mensajes, lista de compras y hacer la lista. Se hace para tomar una nota más fácil que cualquier otro bloc de notas y memo de aplicaciones.
    </p>
  </div>
</section>
