<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card bg-dark text-white">
      <center>
        <div class="card-header">
          Recordar Contraseña
        </div>
     </center>   
      <div class="card-body">
        <form action="/auth/forgotpassword" method="POST">
          
          <div class="mb-3">
            <label for="email">Correo:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Correo"
              autofocus
            />
          </div>
          <center>
            <button class="btn btn-primary btn-block">
              Enviar Correo
            </button>
           </center> 
        </form>
      </div>
      <p class="text-center">¿Ya tienes una cuenta?
        <a href="/auth/signin" class="text-info">Iniciar Sesion</a></p>
    </div>
  </div>
</div>